@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400&family=Poppins:wght@300;400&display=swap');
:root{
     --bg-color:#111111;
     --object-color:#252525;
     --text-color:#fff;
     --object-HL-color:#ffb400;
}
*{
     margin: 0;
     padding: 0;
     box-sizing: border-box;
     font-family: 'Open Sans', sans-serif;
     font-family: 'Poppins', sans-serif;
}

.homeContainer{
     height: 100vh;
     width: 100%;
     background-color: var(--bg-color);
     position: absolute;
}
.shapeYellow{
     height: 100%;
     width: 270px;
     background-color: var(--object-HL-color);
     position: absolute;

}
.homeDP{
     height: 80%;
     width: 400px;
     position: relative;
}     
