@import url('https://fonts.googleapis.com/css2?family=Rubik&display=swap');
:root{
	--bcg-color: #ffffff;
	--primary-color: #a2aa72;
	--border-radius: 8px;
	--secondary-color: #0079FF;
	--border-color: #7fb7c9;
}
*{
	margin: 0%;
	padding: 0%;
	box-sizing: border-box;
	font-family: 'Rubik', sans-serif;}

.navContainer{
	display: flex;
	flex-direction: column;
	justify-content: left;
	align-items: center;
	height: 100%;
	width: 18%;
	background-color: #F1F1F1;
	position: absolute;
}
.navContainer img{
	border-radius: 50%;
	height: 130px;
	width: 130px;
	margin-top: 40px;
}
.navContainer h1{
	font-size: 27px;
	margin: 20px;
	font-family: 'Merriweather', serif;
}
.navContainer p{
	color: var(--secondary-color);
	margin: 0px 10px 20px 10px;
	font-size: 15px;
	text-align: center;
}
.navContainer a{
	text-decoration: none;
	padding: 8px;
	color: black;
	text-align: center;
}
.navContainer a:hover{
	color: #0079FF;
}
.navContainer h2{
	font-size: 17px;
	text-align: center;
	margin-top: 22px;
	font-weight: 200;
}
