.projectsDiv{
    height: 100%;
    width: 100%;
    background-color: #0f0e0e;
    text-align: center;
}
#projectsTxtDiv{
    height: 15%;
    width: 25%;
    margin: 40px 0px 0px 570px;
    position: absolute;
}
#projectsTxt1{
    font-size: 32px;
    color: #eeeeee;
    margin-bottom: 7px;
}
#projectsTxt2{
    font-size: 40px;
    color: #eeeeee;
    margin: 0px 0px 25px 0px;
}
#projectsDiv1{
    width: 360px;
    height: 220px;
    background-color: #1D1D1D;
    border-radius: 10px;
    position: absolute;
    margin: 200px 0px 0px 180px;
}
#projectsDiv1 img{
    background-size: cover;
    width: 360px;
    height: 220px;
    position: relative;
    margin: 0px 0px 0px 0px;
    border-radius: 10px;
}
#projectsDiv2{
    width: 360px;
    height: 220px;
    background-color: #1D1D1D;
    border-radius: 10px;
    position: absolute;
    margin: 200px 0px 0px 580px;
}
#projectsDiv2 img{
    background-size: cover;
    width: 360px;
    height: 220px;
    position: relative;
    margin: 0px 0px 0px 0px;
    border-radius: 10px;
}
#projectsDiv3{
    width: 360px;
    height: 220px;
    background-color: #1D1D1D;
    border-radius: 10px;
    position: absolute;
    margin: 200px 0px 0px 980px;
}
#projectsDiv3 img{
    background-size: cover;
    width: 360px;
    height: 220px;
    position: relative;
    margin: 0px 0px 0px 0px;
    border-radius: 10px;
}
#projectsDiv4{
    width: 360px;
    height: 220px;
    background-color: #1D1D1D;
    border-radius: 10px;
    position: absolute;
    margin: 450px 0px 0px 180px;
}
#projectsDiv4 img{
    background-size: cover;
    width: 360px;
    height: 220px;
    position: relative;
    margin: 0px 0px 0px 0px;
    border-radius: 10px;
}
#projectsDiv5{
    width: 360px;
    height: 220px;
    background-color: #1D1D1D;
    border-radius: 10px;
    position: absolute;
    margin: 450px 0px 0px 580px;
}
#projectsDiv5 img{
    background-size: cover;
    width: 360px;
    height: 220px;
    position: relative;
    margin: 0px 0px 0px 0px;
    border-radius: 10px;
}
#projectsDiv6{
    width: 360px;
    height: 220px;
    background-color: #1D1D1D;
    border-radius: 10px;
    position: absolute;
    margin: 450px 0px 0px 980px;
}
#projectsDiv6 img{
    background-size: cover;
    width: 360px;
    height: 220px;
    position: relative;
    margin: 0px 0px 0px 0px;
    border-radius: 10px;
}