.skill{
    height: 80%;
    width: 100%;
    background-color: #0f0e0e;
    letter-spacing: 1.5;
}
.skillDiv1{
    height: 60%;
    width: 32%;
    letter-spacing: 1.5;
    position: absolute;
    margin: 150px 0px 0px 180px;
}
.skillDiv2{
    height: 60%;
    width: 35%;
    position: absolute;
    margin: 70px 0px 0px 800px;
    
}
#skillTxt1{
    font-size: 25px;
    color: #eeeeee;
    margin-bottom: 7px;
    
}
#skillTxt2{
    font-size: 50px;
    color: #eeeeee;
    margin: 0px 0px 25px 0px;
}
.skillDiv1 p{
    font-size: 22px;
    color: #eeeeee;
    margin: 0px 0px 40px 0px;
    
}
#skillBtn1{
    background-color: #f6c90e;
    font-size: 22px;
    height: 55px;
    width: 140px;
    color: #0f0e0e;
    padding: 0px;
    font-weight: 600;
    margin: ;
    border-radius: 5px ;
    border: none;
 }
 #skillBtn1:hover{
    overflow: hidden;
    background-color: #eeeeee;
    color: 0f0e0e;
 }
 .skillDiv2 ul{
    font-size: 25px;
    color: #eeeeee;
    justify-content: center;
 }